.root {
  border-bottom: 1px solid gray;
  padding-top: 16px;
  padding-bottom: 4px;
}

.header {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 14px;
}

.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.relativeTime {
  font-size: 12px;
}

.reply {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  gap: 4px;
}

.actions {
  display: flex;
  visibility: hidden;
}

.root:hover .actions {
  visibility: visible;
}

.remove {
  margin-left: auto;
  cursor: pointer;
}

.root.removed .text,
.root.removed .header {
  opacity: 0.6;
}
